body{
  margin: auto;
}
.page-header,
.page-footer {
  padding: 20px;
  background-color: #eeeeee;
    border-radius: 50px;
}

.page-footer {
  margin-top: 20px;
}

.price-list {
  width: 100%;
  border-collapse: collapse;
}

.history img,p{
padding-left: 40px;
}

.press p,a{
  padding-left: 40px;
}









.price-list .price-number {
  text-align: center;
}

.price-list .price-name {
  font-weight: bold;
}

.feedback-form-group {
  padding: 10px 0;
}
