ul li {
    display: none;
}

ol li span{
    color: green;
    float: right;
    text-shadow: 0 0 5px green;
}

li:hover ul {
    overflow: hidden;
    margin: 30px;
    transition: .5s all ease;

}

li:hover ul {
    transition: .5s all ease;
}

li:hover ul li {

    transition: .5s all ease;
    display: block;
    color: black;
    border: solid 0 white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    opacity: .4;
    background-color: lightgray;
}

li ul li:hover a {

    color: lightcoral !important;
    transition: .5s all ease .10s;
    float: top;
    padding: 15px;
    width: auto;
    border: solid 1px lightgreen;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px lightgreen;
    margin-left: 30px;
}

li ul li a:hover {
    text-shadow: 0 0 5px green;
}

ol li ul > li:hover {
    opacity: 1;
    padding: 15px;
    margin: 10px;
    color: black;
    background-color: lightgray ;
    transition: .5s all ease .10s;
}

ol {
    counter-reset: theme;
}

ul {
    counter-reset: theme;
    margin: 0;
}

ol > li::before {
    counter-increment: theme;
    content: 'Тема ' counter(theme);
}

ol li ul > li::before {
    overflow: hidden;
    counter-increment: theme;
    content: 'Задание ' counter(theme);
}